@using CarDealerWebProject.Core.Models.Vehicle.FormModels
@model VehicleFormModel
@{
    ViewData["Title"] = "Add Vehicle";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_VehicleFormPartial" model="@Model"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
