@using CarDealerWebProject.Core.Models.Vehicle.FormModels
@using CarDealerWebProject.Infrastructure.Data.Enums
@model CarDealerWebProject.Core.Models.Vehicle.FormModels.VehicleFormModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@{
	string postAction = Model switch
	{
		CarFormModel => "AddCar",
		MotorcycleFormModel => "AddMotorcycle",
		_ => throw new Exception("Unknown vehicle type.")
	};
}

<div class="row">
	<div class="col-12">
		<form method="post" asp-action="@postAction" asp-controller="Vehicle">
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label asp-for="Make"></label>
						<input asp-for="Make" class="form-control" placeholder="Tesla">
						<span asp-validation-for="Make" class="small text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Model"></label>
						<input asp-for="Model" class="form-control" placeholder="Model 3">
						<span asp-validation-for="Model" class="small text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Color"></label>
						<input asp-for="Color" class="form-control" placeholder="Black">
						<span asp-validation-for="Color" class="small text-danger"></span>
					</div>
					<div class="form-group">
						<label for="Transmission" class="form-label">Transmission</label>
						<select asp-for="Transmission" class="form-select" asp-items="Html.GetEnumSelectList<Transmission>()">
							<option value="">Select transmission</option>
						</select>
						<span asp-validation-for="Transmission" class="small text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ManufacturingDate"></label>
						<input asp-for="ManufacturingDate" class="form-control" placeholder="01.2000">
						<span asp-validation-for="ManufacturingDate" class="small text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="Price"></label>
						<input asp-for="Price" class="form-control" placeholder="In euros">
						<span asp-validation-for="Price" class="small text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Mileage"></label>
						<input asp-for="Mileage" class="form-control" placeholder="In km/h">
						<span asp-validation-for="Mileage" class="small text-danger"></span>
					</div>

					@if (Model is CarFormModel car)
					{
						<partial name="VehicleFormPartialViews/_CarFormPartial" model="car" />
					}
					else if (Model is MotorcycleFormModel motorcycle)
					{
						<partial name="VehicleFormPartialViews/_MotorcycleFormPartial" model="motorcycle" />
					}

					<div class="form-group">
						<label asp-for="Description"></label>
						<textarea asp-for="Description" rows="4" class="form-control" placeholder="Extras are:"></textarea>
						<span asp-validation-for="Description" class="small text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="VehicleImages"></label>
						<input asp-for="VehicleImages" class="form-control" placeholder="Your fine URL here">
						<span asp-validation-for="VehicleImages" class="small text-danger"></span>
					</div>
				</div>

				<div class="col-lg-6">
					<div id="motors-container">
						@for (int i = 0; i < Model.Motors.Count; i++)
							{
								var motors = new ViewDataDictionary(ViewData){["MotorIndex"] = i};
							<partial name="VehicleFormPartialViews/_MotorFormPartial" model="Model.Motors[i]" view-data="motors"/>
							}
					</div>
					@{
						var templateVd = new ViewDataDictionary(ViewData) { ["MotorIndex"] = -1 };
					}
					<div id="motor-template" style="display:none">
						@await Html.PartialAsync("VehicleFormPartialViews/_MotorFormPartial", new MotorFormModel(), templateVd)
					</div>
					<button type="button" id="add-motor" class="btn btn-primary mt-2">Add Motor</button>
				</div>

				<div class="text-center">
					<input class="btn btn-primary mt-3" type="submit" value="Save" />
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/vehicle-motors.js" asp-append-version="true"></script>
}
