@using CarDealerWebProject.Infrastructure.Data.Enums
@model CarDealerWebProject.Core.Models.Vehicle.FormModels.MotorFormModel

@{
    var motorIndex = ViewData["MotorIndex"];
    int? index = motorIndex as int?;
	string prefix = index.HasValue && index.Value >= 0 ? $"Motors[{index.Value}]" : "Motors[__index__]";
    
	ViewData.TemplateInfo.HtmlFieldPrefix = prefix;
}
<div class="motor-block border p-2 mb-2">
    <input asp-for="Id" type="hidden"/>

    <div class="form-group">
       <label asp-for="Fuel" class="form-label">Fuel</label>
        <select asp-for="Fuel" class="form-select fuel-select" asp-items="Html.GetEnumSelectList<FuelType>()">
			<option value="">Select fuel type</option>
        </select>
    </div>
    <div class="form-group horsepower-field" style="display:none">
        <label asp-for="MotorHorsePower"></label>
        <input asp-for="MotorHorsePower" class="form-control" placeholder="100">
        <span asp-validation-for="MotorHorsePower" class="small text-danger"></span>
    </div>
    <div class="form-group engine-field" style="display:none">
        <label asp-for="EngineCapacityCC"></label>
        <input asp-for="EngineCapacityCC" class="form-control" placeholder="2000">
        <span asp-validation-for="EngineCapacityCC" class="small text-danger"></span>
    </div>
    <div class="form-group battery-field" style="display:none">
        <label asp-for="BatteryCapacitykWh"></label>
        <input asp-for="BatteryCapacitykWh" class="form-control" placeholder="100">
        <span asp-validation-for="BatteryCapacitykWh" class="small text-danger"></span>
    </div>

    <button type="button" class="btn btn-danger btn-sm remove-motor mt-2">
        Remove Motor
    </button>
</div>




