@using CarDealerWebProject.Infrastructure.Data.Enums
@model CarDealerWebProject.Core.Models.Vehicle.FormModels.MotorcycleFormModel


<div class="form-group">
	<label asp-for="MotorcycleBodyType" class="form-label">Body type</label>
	<select asp-for="MotorcycleBodyType" class="form-select" asp-items="Html.GetEnumSelectList<MotorcycleBodyType>()">
		<option value="">Select motorcycle body type</option>
	</select>
	<span asp-validation-for="MotorcycleBodyType" class="small text-danger"></span>
</div>
