<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Vehicle" asp-action="AllVehicles">All Vehicles</a>
    </li>
    @if(this.User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Vehicle" asp-action="AddVehicle">Add Vehicle</a>
        </li>
    }
   
</ul>

<ul class="navbar-nav me-auto">
    @if (this.User?.Identity?.IsAuthenticated ?? false && this.User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="DashBoard">Admin Page</a>
        </li>
    }
</ul>
