<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="SellerManagement" asp-action="CreateSeller">Create Seller</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="SellerManagement" asp-action="All">All Sellers</a>
    </li>
</ul>