@using CarDealerWebProject.Infrastructure.Data.Enums
@model VehicleFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Make"></label>
                <input asp-for="Make" class="form-control" placeholder="Tesla">
                <span asp-validation-for="Make" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" placeholder="Model 3">
                <span asp-validation-for="Model" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color"></label>
                <input asp-for="Color" class="form-control" placeholder="Black">
                <span asp-validation-for="Color" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Transmission" class="form-label">Transmission</label>
                <select asp-for="Transmission" class="form-select" asp-items="Html.GetEnumSelectList<Transmission>()">
                    <option value="">Select transmission</option>
                </select>
                <span asp-validation-for="Transmission" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturingDate"></label>
                <input asp-for="ManufacturingDate" class="form-control" placeholder="01.2000">
                <span asp-validation-for="ManufacturingDate" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorHorsePower"></label>
                <input asp-for="MotorHorsePower" class="form-control" placeholder="100">
                <span asp-validation-for="MotorHorsePower" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Fuel" class="form-label">Fuel</label>
                <select asp-for="Fuel" class="form-select" asp-items="Html.GetEnumSelectList<FuelType>()">
                    <option value="">Select fuel type</option>
                </select>
                <span asp-validation-for="Fuel" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="In euros">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milage"></label>
                <input asp-for="Milage" class="form-control" placeholder="In km/h">
                <span asp-validation-for="Milage" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Extras are:"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleImages"></label>
                <input asp-for="VehicleImages" class="form-control" placeholder="Your fine URL here">
                <span asp-validation-for="VehicleImages" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
