@{
	ViewData["Title"] = "Dashboard";
}

<div class="row">
	<div class="col-md-3">
		<div class="card-body">
			<h5 class="card-title">For review</h5>
			<p class="card-text">Please check vehicle for review.</p>
			<a asp-action="Review" class="btn btn-primary">Review</a>
		</div>
	</div>
</div>
